@import "tailwindcss";

:root {
  --background: var(--color-neutral-50);
  --foreground: #171717;
  
  --muted-foreground: var(--color-neutral-500);
  --card-foreground: var(--color-neutral-800);
  --text-primary: var(--color-lime-500);

  --card-background: var(--color-neutral-100);
  --card-border: var(--color-neutral-200);
  --border-primary: var(--color-lime-300);
}

@theme inline {
  --breakpoint-xs: 30rem;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card-background: var(--card-background);
  --color-card-border: var(--card-border);
  --color-border-primary: var(--border-primary);

  --color-muted-foreground: var(--muted-foreground);
  --color-card-foreground: var(--card-foreground);
  --color-text-primary: var(--text-primary);

  --font-display: var(--font-inter);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    
     --background: var(--color-neutral-950);
    --foreground: #ededed;
    
    --muted-foreground: var(--color-neutral-400);
    --card-foreground: var(--color-neutral-200);
    --text-primary: var(--color-lime-500);

    --card-background: var(--color-neutral-900);
    --card-border: var(--color-neutral-900);
    --border-primary: var(--color-lime-700);
  }
}

@layer components {
  .wrapper {
    @apply container mx-auto px-1 sm:px-4;
  }

.bg-green-body {
  background-color: var(--background);

  background-image: 
    radial-gradient(   
      ellipse 40% 50% at 70% 20%,
      rgba(0, 0, 0, 0) 0%,
      var(--background) 100%
    ),
    radial-gradient(
      ellipse 70% 50% at 100% -10%,
      rgba(30, 51, 60, 0.7) 0%,
      transparent 100%
    ),
    radial-gradient(
      ellipse 70% 50% at 90% 10%,
      rgba(30, 60, 45, 0.5) 0%,
      transparent 100%
    ), 
    linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
    linear-gradient(to bottom, #4f4f4f2e 1px, transparent 1px);

  background-size:
    100% 100%,
    100% 100%,
    100% 100%,
    5rem 5rem,
    5rem 5rem;
}

}


.float {
  --float-duration: 3s; 
  --float-distance: 12px; 

  display: inline-block;
  animation: float var(--float-duration) ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(calc(-1 * var(--float-distance))) rotate(2deg);
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}